# -----------------------------------
# Python
# -----------------------------------

__pycache__/
*.py[cod]
*$py.class

# -----------------------------------
# Virtual Environment
# -----------------------------------

venv/
.env/
.venv/

# -----------------------------------
# Jupyter Notebook
# -----------------------------------

.ipynb_checkpoints/

# -----------------------------------
# VS Code
# -----------------------------------

.vscode/

# -----------------------------------
# PyCharm
# -----------------------------------

.idea/

# -----------------------------------
# Environment Variables
# -----------------------------------

.env
.env.*

# -----------------------------------
# OS Files
# -----------------------------------

.DS_Store
Thumbs.db

# -----------------------------------
# Logs
# -----------------------------------

*.log

# -----------------------------------
# Temporary Files
# -----------------------------------

*.tmp
*.temp

# -----------------------------------
# Python Build Files
# -----------------------------------

build/
dist/
*.egg-info/
# -----------------------------------
# Data Files
# -----------------------------------

data/raw/
data/processed/
data/reference/
data/results/
outputs/plots/
docs/apis/

# -----------------------------------
# Model Artifacts
# -----------------------------------

*.pkl
*.joblib

# -----------------------------------
# Streamlit
# -----------------------------------

.streamlit/

# -----------------------------------
# Matplotlib Cache
# -----------------------------------

.matplotlib/

# -----------------------------------
# Coverage Reports
# -----------------------------------

.coverage
htmlcov/

# -----------------------------------
# SQLite / DuckDB Databases
# -----------------------------------

*.db
*.duckdb

# -----------------------------------
# Mac/Linux Hidden Files
# -----------------------------------

.*.swp